
a {
    color: #808080;
    font-size: 40px;
     margin: 4%;
    /*margin-right: auto;
    margin-left: auto;*/
    justify-content: center;
    line-height: 2em;
}
p {
    color: #808080;

    /*margin-right: auto;
    margin-left: auto;*/
    justify-content: center;
    line-height: 2em;
  }
.container {
    display: flex;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    float: middle;
    background: #222;
    align-items: center;
    width: 100%;
    justify-content: center;
    
}
#timer {
    color: #fff;
    font-size: 4rem;
}
#subdoc {
    color: rgb(230, 203, 203);
    font-size: 50px;
}
.label {
    font-size: 2.5rem;
    padding-left: 0.25rem;
}
.medium-centre-img {
    /*display: flex;*/
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    float: middle;
    
  }
  /* We're working with the body tag, and so with the WHOLE page */
body
{
    background-color: #222; /* The page background will be black */
     /* The page text will be white */
}

/*100vh*/